.home-page {
  & img {
    width: 100%;
    height: 680px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
  }
  .home-img-container{
    margin-top: 180px;
    position: relative;
  }
  .explore-btn {
    position: absolute;
    top: 655px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    & button {
      width: 157px;
      height: 52px;
      border: none;
      color: transparent;
      background-color: white;
      border-radius: 30px;
      font-family: manrope-bold;
      line-height: 20px;
      font-size: 1.125rem;
      &:hover{
        cursor: pointer;
     }
      & span {
        background-image: linear-gradient(
          to right,
          rgb(113, 1, 156),
          rgb(216, 1, 195)
        );
        background-clip: text;
      }
    }
  }
  .opening-screen {
    background-color: black;
    padding-bottom: 95px;
  }
  .opening-sentence {
    font-size: 2.8rem;
    color: white;
    font-family: manrope-bold;
    letter-spacing: 0.02rem;
    line-height: 53px;
    margin-bottom: 25px;
  }
}

.inspirations{
    margin-top: 90px;
    font-size: 2.5rem;
    letter-spacing: 00.01em;
    font-family: manrope-bold;
}


.top-cities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
  .city {
    width: 321px;
    height: 428px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    & :hover {
      cursor: pointer;
    }
    & img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
    .city-txt{
        display: flex;
        justify-content: center;
        height: 20%;
      align-items: center;
      border-radius: 0 0 12px 12px;
    }
    .amsterdam-text{
        // background-image: linear-gradient(
        //     to bottom,
        //     rgb(140, 100, 30),
        //     rgb(64, 34, 30))
        background-color: $clr1;
        color: white;
        font-size: 2rem;
        font-family: manrope-bold;
    }
    .miami-text{
        // background-image: linear-gradient(
        //     to bottom,
        //     rgb(111, 160,188),
        //     rgb(84, 180, 158))
        background-color: $clr1;
        color: white;
        font-size: 2rem;
        font-family: manrope-bold;
    }
    .iceland-text{
        // background-image: linear-gradient(
        //     to bottom,
        //     rgb(180, 156, 18),
        //     rgb(50, 85, 14))
        background-color: $clr1;
        color: white;
        font-size: 2rem;
        font-family: manrope-bold;
    }
    .paris-text{
        // background-image: linear-gradient(
        //   to bottom,
        //   rgb(231, 193, 63),
        //   rgb(50, 22, 13))
        background-color: $clr1;
        color: white;
        font-size: 2rem;
        font-family: manrope-bold;
    }
  }

}
.host-img-container{
    position: relative;
    margin: 90px 0;
    height: 680px;
    & img{
        border-radius: 12px;
    }
    .on-host-img{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 160px;
        top: 50px;
        left: 160px;
        & h1{
            font-size: 5rem;
            font-family: manrope-bold;
            letter-spacing: 0.002rem;
            color:white

        }
        & button{
            background-color: white;
            font-family: manrope-bold;
            font-size: 1.05rem;
            width: 175px;
            height: 50px;
            border-radius: 8px;
            border:none;
            &:hover{
              background-color: rgba($color:white, $alpha: .9);
              cursor: pointer;
            }
        }
        
    }
    
}
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
