.img-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-template-rows: 220px 220px;
    gap: 8px;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    & img:first-child {
        grid-column: 1/span 2;
        grid-row: 1/span 2;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    & img:nth-child(3) {
        border-top-right-radius: 13px;
    }
    & img:nth-child(5) {
        border-bottom-right-radius: 13px;
    }
}

.info-container {
    display: flex;
    padding-top: 100px;
}

.stay-info {
    padding-right: 80px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    width: 50%;
    .info-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #00000029;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
        & img {
            object-fit: contain;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
    }
    .main-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #00000029;
        & div:last-child {
            padding-bottom: 20px;
        }
    }
    .description {
        border-bottom: 1px solid #00000029;
        gap: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 60ch;
    }
}