.stay-details {
    & h1 {
        font-size: rem(26px);
        padding: 10px;
    }
    .detsils-header {
        padding-bottom: 10px;
        >* {
            padding: 10px;
        }
        & svg {
            color: $clr1;
            height: 15px;
            padding-top: 3px;
        }
    }
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-template-rows: 176px 176px;
    gap: 8px;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    & img:first-child {
        grid-column: 1/span 2;
        grid-row: 1/span 2;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
    }
    & img:nth-child(3) {
        border-top-right-radius: 13px;
    }
    & img:nth-child(5) {
        border-bottom-right-radius: 13px;
    }
}

.info-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00000029;
}

.stay-info {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    padding-right: 95px;
    .info-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #00000029;
        align-items: center;
        padding-bottom: 20px;
        .stay-name {
            text-transform: capitalize;
        }
        & img {
            object-fit: contain;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
        & h2 {
            font-size: rem(22px);
        }
    }
    .main-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        .general-info {
            & div {
                display: flex;
                & div:last-child {
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                }
            }
            & svg {
                margin-top: 10px;
                height: 25px;
            }
        }
        & div:last-child {
            padding-bottom: 20px;
        }
        & span {
            font-size: rem(14.5px);
        }
        .amenities {
            padding: 0;
            & ul {
                padding: 0;
                list-style: none;
                display: flex;
                & div:first-child {
                    margin-right: 10px;
                }
                & li {
                    display: flex;
                    padding: 5px;
                    & svg {
                        height: 23px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .description {
        border-top: 1px solid #00000029;
        border-bottom: 1px solid #00000029;
        gap: 50px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 60ch;
        & h2 {
            font-size: rem(22px);
        }
        & p {
            font-size: rem(14.5px);
        }
    }
}

.reviews {
    & h1 {
        font-size: rem(22px);
    }
    & svg {
        color: $clr1;
        height: 20px;
        padding-top: 3px;
    }
    .review-details {
        & svg {
            color: $clr1;
            height: 15px;
            padding-top: 3px;
        }
        & img {
            object-fit: contain;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
        & div:first-child {
            display: flex;
            padding-bottom: 5px;
            .user-details {
                padding-top: 10px;
                padding-left: 20px;
                & span {
                    font-family: manrope-bold;
                }
            }
        }
    }
}

.map-details {
    & h1 {
        padding-top: 45px;
    }
    .map {
        margin-bottom: 30px;
    }
    & p {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}