.edit-container{
    display: flex;
    flex-direction: row;
    
    .edit-side-show{
 
flex-basis: 55%;
        height: 550px;
        .side-image{
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
    .edit-main-show{

        align-items: center;
        background-color: $clr3;
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .edit-header{
        font-family: manrope-bold;
    }
    .edit-card{
        >*{
            margin: 5px 0;
        }
        .edit-input{
            height: 30px;
            width: 120px;
            border: none;
            border-radius: 10px;
        }
        .edit-input-small{
            height: 30px;
            width: 60px;
        }
        textarea{
            border-radius: 8px;
        }
        
    }
}