.filter{
    display: flex;
    justify-content: center;
    height: 65px;
    width: 850px;
    background-color: white;
    border: solid 1px;
    margin: 0 auto;
    border-radius: 40px;
    align-items: center;
    margin-bottom: 35px;
}